.video-player {
    position: relative;
    width: 100%;
  }

  .case-video-content {
      width: 100%;
      padding-right: 50px;
      padding-left: 50px;
  }
  video {
    width: 100%;
    background: black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .controls {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: -webkit-fill-available;
    bottom: 20px;
    align-items: center;
    transition: opacity .2s;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 91;
  }

  .controls-high {
      width: 100%;
      margin-bottom: 20px;
  }

  .controls-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

  .controls-main-block {
    display: flex;
    align-items: center;
  }
  
  .video-player.playing .controls {
    opacity: 0;
  }
  
  .video-player:hover .controls {
    opacity: 1;
  }
  
  .control-button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all .2s;
  }
  
  .control-button:hover {
    opacity: 1;
  }
  
  .control-button.play-button {
    height: 44px;
    width: 44px;
    margin-right: 30px;
  }
  
  .control-button.sound-button {
    height: 44px;
    width: 44px;
  }
  
  .control-button.fullscreen-button {
    height: 44px;
    width: 44px;
  }
  
  .control-button svg {
    stroke: #fff;
    fill: transparent;
  }
  
  .timeline {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .2);
    background-size: 0% 100%;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
  }
  
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: rgba(255, 255, 255);
  }
  
  .timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: rgba(255, 255, 255, .8);
  }
  
  .timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: rgba(255, 255, 255, .8);
  }
  
  .timeline::-webkit-slider-thumb:hover {
    background-color: #fff;
  }
  
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  .timeline::-moz-range-thumb:hover {
    background-color: #fff;
  }
  
  .timeline:hover::-moz-range-thumb {
    opacity: 1;
  }
  
  .timeline::-ms-thumb:hover {
    background-color: #fff;
  }
  
  .timeline:hover::-ms-thumb {
    opacity: 1;
  }
  
  .timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }


  .sound-line {
    -webkit-appearance: none;
    width: 30%;
    height: 6px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .2);
    background-size: 0% 100%;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s;
    margin-left: 15px;
  }

  .soundline_active {
    opacity: 1;
  }
  
  .sound-line::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: all .1s;
    background-color: rgba(255, 255, 255);
  }
  
  .sound-line::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: all .1s;
    background-color: rgba(255, 255, 255, .8);
  }
  
  .sound-line::-ms-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: all .1s;
    background-color: rgba(255, 255, 255, .8);
  }
  
  .sound-line::-webkit-slider-thumb:hover {
    background-color: #fff;
  }
  
  .sound-line::-moz-range-thumb:hover {
    background-color: #fff;
  }
  
  .sound-line::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .sound-line::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .sound-line::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }