@font-face {
	font-family: 'Benzin-Bold'; 
	src: url(../fonts/benzin/Benzin-Bold.ttf); 
}

@font-face {
	font-family: 'Benzin-Medium'; 
	src: url(../fonts/benzin/Benzin-Medium.ttf); 
}

@font-face {
	font-family: 'Benzin-Regular'; 
	src: url(../fonts/benzin/Benzin-Regular.ttf); 
}

@font-face {
	font-family: 'Inter'; 
	src: url(../fonts/Inter/Inter-Medium.ttf); 
    font-weight: 500;
}

@font-face {
	font-family: 'Inter'; 
	src: url(../fonts/Inter/Inter-Regular.ttf); 
    font-weight: 400;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.header-mobile {
    display: none;
}

.header-menu {
    height: 0;
    overflow: hidden;
}

.header-logo {
    font-family: 'Benzin-Medium';
    font-size: 22px;
    line-height: 110%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding-top: 37px;
    padding-bottom: 37px;
}

.header-block {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    padding: 0;
}

.header-nav-item {
    margin-left: 20px;
    list-style: none;
    background-color: #212121;
    border-radius: 100px;
}

.header-nav-item-link {
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #212121;
    line-height: 90%;
    text-transform: uppercase;
    background: #FFE146;
    padding: 10px 30px;
    border: 1px solid #212121;
    border-radius: 100px;
    transform: translate(-3px, -3px);
    transition: 0.4s;
}

.header-nav-item-link:hover {
    transform: translate(0);
}

.header-tel {
    display: flex;
    align-items: center;
    margin-left: 41px;
}

.header-tel-btn {
    background-color: #212121;
    border-radius: 50%;
}

.header-tel-btn-front {
    display: flex;
    width: 40px;
    height: 40px;
    background: #FFE146;
    border: 1px solid #212121;
    border-radius: 50%;
    transform: translate(-3px, -3px);
    background-image: url(../img/header/tel.svg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
    transition: 0.4s;
}

.header-tel-btn-front:hover {
    transform: translate(0, 0);
    cursor: pointer;
}

.header-tel-num {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    margin-left: 10px;
}

.main {
    padding-top: 102px;
}

.intro {
    background-color: #AEFF46;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.intro-text-block {
    max-width: 653px;
    padding-top: 190px;
    width: 45%;
}

.intro-title {
    font-family: 'Benzin-Medium';
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
}

.intro-btn {
    background-color: #212121;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: fit-content;
    transform: translate(3px, 3px);
}

.intro-btn_mobile {
    display: none;
}

.intro-btn-front {
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    padding: 22px 28px;
    display: block;
    width: fit-content;
    margin-top: 40px;
    transform: translate(-6px, -5px);
    transition: 0.4s;
}

.intro-btn-front:hover {
    transform: translate(0);
}

.intro-img {
    width: 744px;
    height: 658px;
    padding-top: 65px;
    padding-bottom: 28px;
}

.scroll {
    font-family: 'Benzin-Bold';
    font-size: 140px;
    line-height: 88%;
    text-transform: uppercase;
    color: #212121;
    display: flex;
    background-color: #FFE146;
    padding-top: 28px;
    padding-bottom: 8px;
    overflow-x: hidden;
    align-items: baseline;
    border-top: 6px solid #212121;
    border-bottom: 6px solid #212121;
    overflow: hidden;
}

.scroll-content {
    animation: marquee 72s infinite linear;
    display: flex;
    align-items: center;
    -webkit-appearance: none;
}

.scroll-block {
    margin-right: 40px;
    margin-left: 40px;
}

.scroll-block:nth-of-type(odd) {
    color: #FFE146;
    text-shadow: 0px 0px 3px black;
}

.scroll-img {
    width: 110px;
}

@keyframes marquee{
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(10)
    }
}

.leader {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(../img/leader/bg1.png), url(../img/leader/bg2.png);
    background-size: 182px, 300px;
    background-position-x: 98%, left;
    background-position-y: 49px, 700px;
    background-repeat: no-repeat, no-repeat;
}

.leader-desc {
    max-width: 1055px;
    font-family: 'Benzin-Regular';
    font-size: 36px;
    line-height: 130%;
    color: #212121;
    margin: 0;
}

.leader-list {
    margin-top: 40px;
    border-top: 4px solid #212121;
}

.leader-item {
    display: flex;
    border-bottom: 4px solid #212121;
    height: 100%;
    min-height: 80px;
    max-height: 80px;
    padding-right: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    transition: max-height 1s;
    overflow: hidden;
    cursor: pointer;
}

/* .leader-item:last-child {
    border-bottom: 4px solid #212121;
} */

.leader-item_open {
    max-height: 500px;
    align-items: flex-start;
    overflow: hidden;

}

.leader-item-block_mobile {
    display: none;
}

.leader-item_open .leader-item-prod-text, .leader-item_open .leader-item-prod-link, .leader-item_open .leader-item-prod-block {
    opacity: 1;
}

.leader-item-name {
    font-family: 'Benzin-Bold';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    max-width: 460px;
    min-width: 260px;
    width: 100%;
    padding-top: 25px;
}

.leader-item-date {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    color: #212121;
    padding-top: 25px;
    max-width: 460px;
    width: 100%;
    transition: 1s;
}

.leader-item-prod {
    max-width: 850px;
    min-width: 430px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 30px;
}

.leader-item-prod-title {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    color: #212121;
    max-width: 500px;
    width: 100%;
}

.leader-item-prod-date {
    display: none;
}

.leader-item-prod-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #212121;
    margin-top: 10px;
    max-width: 500px;
    width: 100%;
    opacity: 0;
}

.leader-item-prod-link {
    font-family: 'Benzin-Regular';
    font-size: 14px;
    line-height: 90%;
    text-transform: uppercase;
    color: #212121;
    text-decoration: none;
    border-bottom: 2px solid #212121;
    margin-top: 30px;
    display: flex;
    opacity: 0;
    width: fit-content;
    transition: 0.2s;
}

.leader-item-prod-link:hover {
    border-bottom: 0;
    color: #FA4238;
}

.leader-item-icon {
    width: 40px;
    min-width: 40px;
    cursor: pointer;
}

.leader-item-icon_close {
    background-image: url(../img/leader/icon-close.svg);
    background-size: 100% 100%;
    padding-top: 20px;
    height: 60px;
    transition: background-image 0.2s;
}

.leader-item-icon_open {
    background-image: url(../img/leader/icon-open.svg);
    background-size: 100% 100%;
    padding-top: 20px;
    height: 60px;
    transition: background-image 0.2s;
}

.leader-btn {
    background-color: #212121;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transform: translate(3px, 3px);
    opacity: 1;
}

.leader-btn-front {
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    padding: 22px 28px;
    display: block;
    width: fit-content;
    margin-top: 60px;
    transform: translate(-6px, -5px);
    transition: 0.4s;
}

.leader-btn-front:hover {
    transform: translate(0);
}

.leader-add {
    display: block;
    opacity: 1;
    transition: opacity 2s;
}

.leader-add_hidden {
    position: absolute;
    opacity: 0;
}

.leader-btn_hidden {
    display: none !important;
}

.about {
    padding-top: 140px;
    padding-bottom: 40px;
    background-color: #FFE146;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.about-title {
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
    min-width: 560px;
    width: 100%;
}

.about-content {
    max-width: 50%;
    width: 100%;
}

.about-content-title {
    font-family: 'Benzin-Regular';
    font-size: 36px;
    line-height: 130%;
    color: #212121;
    margin-bottom: 20px;
    max-width: 647px;
}

.about-content-desc {
    max-width: 729px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #212121;
}

.about-video {
    background-color: #FFE146;
}

.about-video-content {
    height: 1074px;
    width: 100%;
    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    box-sizing: border-box;
}

.about-video-play {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url(../img/about/play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 118px;
    height: 118px;
}

.service {
    padding-top: 190px;
    padding-bottom: 190px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #469BFF;
    background-image: url(../img/service/bg.png);
    background-repeat: no-repeat;
    background-size: 900px 100%;
    background-position-x: right;
    display: flex;
    position: relative;
    z-index: 1;
}

.service-col {
    max-width: 380px;
    width: 100%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-title {
    margin: 0;
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 88%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.service-img {
    width: 100%;
    margin-bottom: -30px;
}

.service-list {
    width: 100%;
}

.service-item {
    background-color: #000;
    border: 1px solid #212121;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 27px;
    min-height: 200px;
    padding-bottom: 0;
    transition: max-height 2s;
    cursor: pointer;
}

.service-item-block {
    display: none;
}

.service-item_open {
    box-sizing: border-box;
    max-height: 500px;
}

.service-item_open .service-item-front {
    /* padding-bottom: 100px; */
    align-items: flex-start;
    padding-top: 70px;
    transition: max-height 1s;
    max-height: 500px;
}

.service-item_close {
    max-height: 200px;
}

.service-item-front {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 70px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 32px;
    border-radius: 20px;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    transition: max-height 1s;
    transform: translate(-3px, -3px);
}

.service-item-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 120px;
}

.service-item-title {
    font-family: 'Benzin-Regular';
    font-size: 36px;
    line-height: 130%;
    color: #212121;
    max-width: 600px;
    width: auto;
    transition: max-width 0.1s;
}

.service-item_open .service-item-title {
    max-width: 300px;
    width: auto;
}

.service-item_list {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    min-width: 420px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: 0.7s;
}

.service-item_open .service-item_list {
    display: block;
    opacity: 1;
}

.service-item_list-item {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 20px;
}

.service-item-icon {
    width: 78px;
    height: 78px;
    background: #212121;
    border-radius: 50%;
    box-sizing: border-box;
}

.service-item-icon-front {
    width: 78px;
    height: 78px;
    background: #FFE146;
    border: 1px solid #212121;
    border-radius: 50%;
    transform: translate(-3px, -3px);
    transition: 0.2s;
    box-sizing: border-box;
}

.service-item-icon-front:active {
    transform: translate(0);
}

.service-item-icon_close {
    background-image: url(../img/service/icon-close.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.service-item-icon_open {
    background-image: url(../img/service/icon-open.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.case {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #212121;
    background-image: url(../img/case/bg1.png), url(../img/case/bg2.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: left, right;
    background-position-y: bottom, top;
    background-size: 400px, 630px;
}

.case-title {
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.case-row {
    margin-top: 30px;
    display: flex;
    height: auto;
    justify-content: space-between;
}

.case-row_mid {
    display: none;
}

.case-col {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case-col:first-of-type {
    margin-right: 20px;
}

.case-block {
    background: #D9D9D9;
    border-radius: 20px;
    width: 100%;
    height: 49%;
    position: relative;
}

.case-block_full {
    height: 100%;
}

.case-block-name {
    background-color: #212121;
    border-radius: 25px;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}

.case-block-name-front {
    background: #fff;
    border: 1px solid #212121;
    border-radius: 25px;
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    color: #212121;
    padding: 12px 18px 8px 20px;
    display: block;
    width: fit-content;
    transform: translate(-3px, -3px);
    transition: 0.4s;
}

.case-block-play {
    opacity: 0;
    width: 138px;
    height: 136px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: 0.2s;
}

.case-block:hover .case-block-play{
    display: flex;
    opacity: 1;
}

.case-btn {
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transform: translate(3px, 3px);
}

.case-btn-front {
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    padding: 22px 28px;
    display: block;
    width: fit-content;
    margin-top: 60px;
    transform: translate(-6px, -5px);
    transition: 0.4s;
}

.case-btn-front:hover {
    transform: translate(0);
}

.case-video {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: space-between;
    display: flex;
    z-index: 99;
    box-sizing: border-box;
    background-color: #212121;
    align-items: center;
    background-image: url(../img/case/bg1.png), url(../img/case/bg2.png);
    background-size: 500px, 600px;
    background-repeat: no-repeat, no-repeat;
    background-position-x: left, right;
    background-position-y: bottom, top;
}

.case-video-content {
    width: 70%;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
}





.case-video-close {
    background-color: #212121;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 91;
}

.case-video-close-front {
    width: 78px;
    height: 78px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-3px, -3px);
    transition: 0.4s;
    z-index: 999;
}

.case-video-close-front:active {
    transform: translate(0, 0);
}

.case-video-close-front::after {
    content: '';
    width: 28px;
    height: 28px;
    background-image: url(../img/work/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
}






.case_carousel {
    width: 100%;
    
}


.asd {
    height: auto;
}

.case-carousel_next {
    background-image: url(../img/case/next.svg);
    width: 120px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    background-position-y: center;
    margin: auto;
    opacity: 0;
    transition: 0.4s;
}

.case-carousel_next:hover {
    opacity: 1;
}

.case-carousel_prev {
    background-image: url(../img/case/prev.svg);
    width: 120px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    bottom: 0;
    background-position-y: center;
    margin: auto;
    opacity: 0;
    transition: 0.4s;
}

.case-carousel_prev:hover {
    opacity: 1;
}

.case-add {
    display: block;
    opacity: 1;
    transition: opacity 2s;
}

.case-add_hidden {
    position: absolute;
    opacity: 0;
}

.case-btn_hidden {
    display: none !important;
}

.play-pause {
    display: flex;
    width: 66px;
    height: 110px;
    background-image: url(../img/case/pause.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
}

.work {
    background-color: #9746FF;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(../img/work/bg.png);
    background-size: 775px;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
}

.work-title {
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    max-width: 502px;
    margin: 0;
}

.work-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 57px;
    display: flex;
    padding-left: 2px;
}

.work-nav-item {
    margin-right: 40px;
    border-radius: 49px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 17px;
    position: relative;
}

.work-nav-item_active {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}

.work-nav-item_active .work-nav-link_not {
    background-color: #212121;
    width: 50px;
    height: 50px;
    right: -20px;
    top: -20px;
    position: absolute;
    border-radius: 50%;
}

.work-nav-item_active .work-nav-link_not-front {
    background: #FA4238;
    border: 1px solid #212121;
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-4px, -4px);
}

.work-nav-link_not {
    background-color: #212121;
    width: 0px;
    height: 0px;
    right: 10px;
    top: 10px;
    position: absolute;
    border-radius: 50%;
    transition: 0.4s
}

.work-nav-link_not-front {
    background: #FA4238;
    border: 1px solid #212121;
    font-family: 'Benzin-Regular';
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-4px, -4px);
    transition: 0.4s
}

.work-nav-link {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 49px;
    padding: 20px 20px 17px 20px;
}

.work-nav-link_front {
    transition: transform 0.4s;
}

.work-nav-link:hover {
    padding: 20px 20px 17px 20px;
    background-color: #FFE146;
    border-radius: 49px;
}

.work-nav-item_active .work-nav-link{
    background: #212121;
    padding-left: 0;
    padding-right: 0;
    display: block;
    padding: 0;
}

.work-nav-item_active .work-nav-link_front {
    padding: 20px 20px 17px 20px;
    transform: translate(-3px, -3px);
    background-color: #FFE146;
    border-radius: 49px;
    display: block;
}

.work-list {
    width: 100%;
    margin-top: 25px;
}

.work-item {
    background-color: #000;
    border: 1px solid #212121;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    min-height: 214px;
    margin-bottom: 27px;
    padding-bottom: 0;
    transition: max-height 2s;
    cursor: pointer;
}

.work-item_open {
    box-sizing: border-box;
    max-height: 800px;
}

.work-item_open .work-item-front {
    align-items: flex-start;
    padding-top: 60px;
    max-height: 800px;
    transition: max-height 2s;
}

.work-item-front {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 60px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 32px;
    border-radius: 20px;
    height: 100%;
    padding-bottom: 0;
    min-height: 214px;
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 1s;
    transform: translate(-3px, -3px);
}

.work-item-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 80px;
}

.work-item-title {
    font-family: 'Benzin-Regular';
    font-size: 36px;
    line-height: 130%;
    color: #212121;
    max-width: 274px;
    width: 100%;
}

.work-item-desc {
    max-width: 742px;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
}

.work-item_open .work-item-desc {
    display: block;
    margin-left: 150px;
    opacity: 1;
    transition: 0.2s;
}

.work-item-desc-title {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 30px;
}

.work-item-desc-block {
    margin-bottom: 20px;
}

.work-item-desc-block-title {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.work-item-desc-block-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #212121;
}

.work-item-desc-block-btn {
    background-color: #212121;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.work-item-desc-block-btn-front {
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    padding: 22px 28px;
    display: block;
    width: fit-content;
    margin-top: 40px;
    transform: translate(-3px, -3px);
    transition: 0.4s;
}

.work-item-desc-block-btn-front:hover {
    transform: translate(0);
}

.work-item-icon {
    width: 78px;
    height: 78px;
    background: #212121;
    border-radius: 50%;
    box-sizing: border-box;
}

.work-item-icon_mobile {
    display: none;
}

.work-item-icon-front {
    width: 78px;
    height: 78px;
    background: #FFE146;
    border: 1px solid #212121;
    border-radius: 50%;
    transform: translate(-3px, -3px);
    transition: 0.4s;
    box-sizing: border-box;
}

.work-item-icon-front:active {
    transform: translate(0);
}

.work-item-icon_close {
    background-image: url(../img/service/icon-close.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.work-item-icon_open {
    background-image: url(../img/service/icon-open.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.work-pop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 50px;
    left: 50px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: space-between;
    display: flex;
    z-index: 99;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 20px;
    height: 906px;
    margin: auto;
    padding: 40px 0 40px 40px;
    background-image: url(../img/work/pop.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.work-pop-content {
    max-width: 898px;
    min-width: 898px;
}

.work-pop-title {
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
    margin-bottom: 20px;
}

.work-pop-desc {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    color: #212121;
    max-width: 660px;
}

.work-pop-form {
    margin-top: 30px;
}

.work-pop-form-block {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.work-form-input-back {
    background-color: #212121;
    border-radius: 10px;
    width: 100%;
    margin-right: 22px;
}

.work-form-input {
    width: 100%;
    height: 84px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    padding-left: 30px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    max-width: 438px;
}

.work-form-input-block {
    background-color: #212121;
    border-radius: 10px;
    position: relative;
    margin-bottom: 22px;
    margin-right: 20px;
}

.work-form-textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    min-height: 169px;
    padding: 30px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    transform: translate(-3px, 0px);
    resize: none;
    background-image: url(../img/app/textarea.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position-x: right;
    background-position-y: bottom;
}

.work-form-input-block {
    background-color: #212121;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
}

.work-form-input-submit {
    width: 100%;
    height: 80px;
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    transition: 0.4s;
    transform: translate(-3px, -3px);
    -webkit-appearance: none;
}

.work-pop-img {
    width: auto;
}

.work-pop-close {
    background-color: #212121;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}

.work-pop-close-front {
    width: 78px;
    height: 78px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-3px, -3px);
    transition: 0.4s;
}

.work-pop-close-front:active {
    transform: translate(0, 0);
}

.work-pop-close-front::after {
    content: '';
    width: 28px;
    height: 28px;
    background-image: url(../img/work/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.work-empty {
    width: 100%;
    background: #FFFFFF;
    /* colors/butons/black */
    border: 1px solid #212121;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    padding-top: 60px;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.work-empty-title {
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    max-width: 852px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 60px;
}

.work-empty-desc {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    color: #212121;
    max-width: 356px;
}

.work-empty-btn {
    background-color: #212121;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 726px;
}

.work-empty-btn-front {
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    padding: 22px 28px;
    display: block;
    width: auto;
    margin-top: 60px;
    transform: translate(-3px, -3px);
    transition: 0.4s;
}

.work-empty-img {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.work-content {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE и Edge */
}

.work-content::-webkit-scrollbar {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    scrollbar-width: 0;
}

.app {
    padding-top: 140px;
    padding-bottom: 110px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #AEFF46;
    background-image: url(../img/app/dude.png);
    background-position-x: right;
    background-position-y: 140px;
    background-repeat: no-repeat;
    background-size: 780px;
}

.app-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-title {
    margin: 0;
    font-family: 'Benzin-Bold';
    font-size: 140px;
    line-height: 88%;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #212121;
    max-width: 975px;
}

.app-form-block {
    max-width: 852px;
    width: 100%;
    background-color: #212121;
    border-radius: 10px;
    margin-top: 35px;
}

.app-form-block-front {
    background-color: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 64px;
    padding-left: 44px;
    padding-right: 44px;
    transform: translate(-3px, -8px);
}

.app-form-desc {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    color: #212121;
    max-width: 590px;
    margin-bottom: 20px;
}

.app-form-input-block {
    background-color: #212121;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
}

.app-form-input {
    width: 100%;
    height: 84px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    padding-left: 30px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    color: #212121;
}

.app-form-input-pod {
    position: absolute;
    max-width: 300px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #212121;
    position: absolute;
    right: -270px;
    bottom: 70px;
    display: none;
}

.app-form-input::placeholder {
    color: #B6B6B6;
}

.app-form-input:valid {
    color: #212121;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: none;
  transition: background-color 5000s ease-in-out 0s
}

.app-form-input:valid + .app-form-input-indc{
    background-image: url(../img/app/valid.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 32px;
    margin: auto;
}

.app-form-input:invalid {
    color: #FF1E1E;
}

.app-form-input:invalid + .app-form-input-indc{
    background-image: url(../img/app/invalid.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 32px;
    margin: auto;
}

.app-form-input:invalid + .app-form-input-indc:hover::after {
    content: '';
    background: #FFFFFF;
    border: 1px solid #212121;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: -8px;
}

.app-form-input:invalid + .app-form-input-indc:hover + .app-form-input-pod {
    display: block;
}

.app-form-textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    min-height: 377px;
    padding: 30px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    transform: translate(-3px, 0px);
    resize: none;
    background-image: url(../img/app/textarea.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position-x: right;
    background-position-y: bottom;
}

.app-form-textarea::placeholder {
    color: #B6B6B6;
}

.app-form-input-submit {
    width: 100%;
    height: 80px;
    background: #FA4238;
    border: 1px solid #212121;
    border-radius: 10px;
    font-family: 'Benzin-Regular';
    font-size: 18px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
    transition: 0.4s;
    transform: translate(-3px, -3px);
    -webkit-appearance: none;
}

.app-form-input-submit:hover {
    transform: translate(0);
}

.app-contact {
    max-width: 900px;
    width: 100%;
    background-image: url(../img/app/folder-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: auto;
    height: 563px;
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: 60px;
}

.app-contact-content {
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    background-image: url(../img/app/green.png);
    background-repeat: no-repeat;
    background-size: 242px;
    background-position-x: 90%;
    background-position-y: bottom;
}

.app-contact-row {
    display: flex;
}

.app-contact-mail {
    text-decoration: none;
    background-color: #212121;
    max-width: 406px;
    width: 100%;
    border-radius: 10px;
    transform: translate(3px, 3px);
    margin-right: 25px;
}

.app-contact-mail-front {
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 406px;
    width: 100%;
    text-align: center;
    box-sizing: border-box; 
    font-family: 'Benzin-Regular';
    font-size: 36px;
    line-height: 130%;
    text-decoration: none;
    color: #212121;
    transform: translate(-4px, -4px);
    transition: 0.4s;
}

.app-contact-mail-front:hover {
    background-color: #FA4238;
    color: #fff;
    transform: translate(0, 0);
}

.app-contact-tel {
    text-decoration: none;
    background-color: #212121;
    max-width: 406px;
    width: 100%;
    border-radius: 10px;
    transform: translate(3px, 3px);
}

.app-contact-tel-front {
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 406px;
    width: 100%;
    text-align: center;
    box-sizing: border-box; 
    font-family: 'Benzin-Regular';
    font-size: 32px;
    line-height: 130%;
    text-decoration: none;
    color: #212121;
    transform: translate(-4px, -4px);
    height: 100%;
    transition: 0.4s;
}

.app-contact-tel-front:hover {
    background-color: #FA4238;
    color: #fff;
    transform: translate(0, 0);
}

.app-contact-info {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #212121;
    max-width: 379px;
    width: 100%;
    margin-top: 70px;
    margin-left: 51px;
    margin-bottom: 93px;
}

.app-contact-info-hglt {
    font-family: 'Benzin-Bold';
}

.app-pop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 50px;
    left: 50px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    display: flex;
    z-index: 99;
    box-sizing: border-box;
    background: #9746FF;
    border-radius: 20px;
    height: 553px;
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 40px 40px 40px 40px;
    background-image: url(../img/app/pop-bg.png);
    background-size: 100% 100%;
}

.app-pop-title {
    font-family: 'Benzin-Medium';
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 665px;
    margin-bottom: 20px;
}

.app-pop-desc {
    font-family: 'Benzin-Regular';
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 360px;
}

.app-pop-close {
    background-color: #212121;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}

.app-pop-close-front {
    width: 78px;
    height: 78px;
    background: #FFFFFF;
    border: 1px solid #212121;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-3px, -3px);
    transition: 0.4s;
}

.work-pop-close {
    background-color: #212121;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
}

.app-pop-close-front:active {
    transform: translate(0, 0);
}

.app-pop-close-front::after {
    content: '';
    width: 28px;
    height: 28px;
    background-image: url(../img/work/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background-color: #AEFF46;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-mid {
    display: none;
}

.footer-part {
    max-width: 852px;
    width: 100%;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin-left: 40px;
}

.footer-copy {
    font-family: 'Benzin-Regular';
    font-size: 14px;
    line-height: 90%;
    color: #212121;
}

.footer-contact-link {
    font-family: 'Benzin-Regular';
    font-size: 14px;
    line-height: 90%;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    margin-right: 20px;
    transition: 0.2s;
}

.footer-contact-link:hover {
    color: #FA4238;
}

.footer-author {
    font-family: 'Benzin-Regular';
    font-size: 14px;
    line-height: 90%;
    text-transform: uppercase;
    color: #212121;
    display: flex;
    align-items: baseline;
}

.footer-author-icon {
    margin-left: 10px;
    margin-bottom: -1px;
    width: 60px;
    height: 23px;
    background-image: url(../img/footer/author.svg);
    transition: 0.2s;
}

.footer-author-icon:hover {
    background-image: url(../img/footer/author-active.svg);
}

@media (max-width: 1440px) {
    .header {
        padding-left: 20px;
        padding-right: 14px;
    }

    .header-nav-item {
        margin-left: 17px;
    }

    .header-nav-item-link {
        font-size: 14px;
        padding: 10px 15px;
    }

    .header-tel {
        margin-left: 17px;
    }

    .header-tel-btn-front {
        width: 37px;
        height: 37px;
    }

    .header-tel-num {
        font-size: 18px;
    }

    .intro {
        padding-left: 12px;
        padding-right: 12px;
    }

    .intro-text-block {
        width: auto;
        max-width: 489px;
        padding-top: 140px;
    }

    .intro-title {
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0.03em;
    }

    .intro-img {
        width: 479px;
        height: 365px;
        padding-bottom: 50px;
        padding-top: 75px;
    }

    .scroll {
        border-top: 2px solid #212121;
        border-bottom: 2px solid #212121;
    }

    .leader {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 120px;
        padding-bottom: 120px;
        background-size: 138px, 230px;
    }

    .leader-desc {
        font-size: 26px;
        max-width: 764px;
    }

    .leader-list {
        margin-top: 30px;
    }

    .leader-item-name {
        max-width: 250px;
    }

    .leader-item-date {
        opacity: 0;
    }

    .leader-item_open .leader-item-date {
        width: 0;
    }

    .about {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 120px;
    }

    .about-title {
        font-size: 40px;
        min-width: 0;
    }

    .about-content {
        max-width: 488px;
    }

    .about-content-title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .about-video-content {
        height: 700px;
    }

    .service {
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: column;
        padding-top: 120px;
        padding-bottom: 110px;
        background-image: url(../img/service/med-bg.png);
        background-size: 868px 100%;
    }

    .service-img {
        display: none;
    }

    .service-title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .service-item {
        margin-bottom: 10px;
    }

    .service-item-front {
        padding-left: 30px;
        padding-top: 60px;
    }

    .service-item_open .service-item-front {
        padding-top: 60px;
    }

    .service-item-title {
        font-size: 26px;
        padding-top: 20px;
    }

    .service-item_list-item {
        font-size: 18px;
    }

    .case {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 130px;
        padding-bottom: 120px;
    }

    .case-title {
        font-size: 40px;
    }

    /* .case-row {
        display: none;
    } */

    .case-row_mid {
        display: flex;
    }

    .case-col:first-of-type {
        margin-right: 20px;
    }

    .case-video-content {
        padding-left: 12px;
        padding-right: 12px;
        width: 90%;
    }

    .controls {
        padding-left: 70px;
        padding-right: 70px;
    }

    .work {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: none;
    }

    .work-title {
        font-size: 40px;
        max-width: 300px;
    }

    .work-nav {
        margin-top: 47px;
    }

    .work-item {
        min-height: 196px;
    }

    .work-item-content {
        padding-bottom: 59px;
        flex-direction: column;
    }

    .work-item_open .work-item-desc {
        margin-left: 0;
    }

    .work-item-front {
        padding-top: 60px;
        padding-left: 40px;
        min-height: 196px;
    }

    .work-item-title {
        font-size: 26px;
        max-width: 165px;
    }

    .work-item_open .work-item-desc {
        margin-top: 40px;
    }

    .work-item-desc-title {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .work-item-desc-block-title {
        font-size: 18px;
    }

    .work-item-desc {
        max-width: 705px;
    }

    .work-item-desc-block-text {
        max-width: 570px;
    }

    .work-pop {
        right: 12px;
        left: 12px;
        height: 856px;
        background-size: 600px;
    }

    .work-pop-img {
        display: none;
    }

    .work-pop-title {
        font-size: 40px;
        max-width: 613px;
    }

    .work-pop-content {
        max-width: none;
        width: 100%;
    }

    .work-pop-form {
        margin-top: 40px;
    }

    .work-form-input {
        max-width: none;
    }

    .work-empty {
        padding-top: 40px;
    }

    .work-empty-title {
        font-size: 40px;
        padding-top: 0;
        max-width: 555px;
    }

    .work-empty-btn {
        max-width: 400px;
    }

    .work-empty-btn-front {
        max-width: 400px;
    }

    .work-empty-img {
        width: 384px;
        height: 344px;
    }

    .app {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 150px;
        padding-bottom: 130px;
        background-position-y: 1400px;
        background-size: 480px;
    }

    .app-title {
        font-size: 100px;
    }

    .app-content {
        flex-direction: column;
    }

    .app-form-block {
        max-width: none;
    }

    .app-form-block-front {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 64px;
    }

    .app-form-input-pod {
        right: 60px;
    }

    .app-form-input:invalid + .app-form-input-indc:hover::after {
        left: auto;
        right: auto;
    }

    .app-contact {
        max-width: none;
        margin-left: 0;
        margin-top: 500px;
    }

    .app-contact-row {
        justify-content: space-between;
    }

    .footer {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 40px;
        display: none;
    }

    .footer-mid {
        display: flex;
    }


}

@media (max-width: 970px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid #000;
    }

    .header-logo {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 11px;
        line-height: 110%;
        letter-spacing: 0.03em;
    }

    .header-nav {
        display: none;
    }

    .header-nav_mobile {
        display: flex;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .header-tel {
        display: none;
    }

    .header-mobile-tel {
        font-family: 'Benzin-Regular';
        font-size: 16px;
        line-height: 130%;
        color: #212121;
        text-decoration: none;
        margin-right: 10px;
        white-space: nowrap;
    }

    .header-menu-btn {
        background-color: #212121;
        display: block;
        border-radius: 50%;
    }

    .header-menu-btn-front {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FFE146;
        border: 1px solid #212121;
        transform: translate(-1px, -1px);
        justify-content: center;
        align-items: center;
    }

    .header-menu-btn-front::after {
        content: '';
        background-image: url(../img/header/open.svg);
        background-size: 100% 100%;
        width: 14px;
        height: 10px;
        display: flex;
    }

    .header-menu-btn_close .header-menu-btn-front::after {
        content: '';
        background-image: url(../img/work/close.svg);
        background-size: 100% 100%;
        width: 14px;
        height: 10px;
        display: flex;
    }

    .header-menu-btn-front:active {
        transform: translate(0, 0);
    }

    .header-menu {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background-color: #9746FF;
        background-image: url(../img/header/menu-bg.png);
        background-size: 100% 100%;
        height: 350px;
        transition: 1s;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        padding-top: 70px;
        justify-content: space-between;
        z-index: 98;
    }

    .header-menu_hidden {
        opacity: 0;
        height: 0;
        position: absolute;
    }

    .header-menu-contact-link {
        font-family: 'Benzin-Regular';
        font-size: 14px;
        line-height: 90%;
        color: #212121;
        text-decoration: none;
        padding: 6px 10px;
        background: #FFFFFF;
        border: 1px solid #212121;
        border-radius: 49px;
        margin-bottom: 5px;
    }

    .main {
        padding-top: 74px;
    }

    .header-nav {
        flex-direction: column;
        padding-top: 20px;
        margin: 0;
        padding-bottom: 50px;
    }

    .header-nav-item {
        margin-bottom: 15px;
    }

    .header-nav-item-link {
        font-size: 18px;
        line-height: 90%;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-menu-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .intro {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 90px;
    }

    .intro-img {
        width: 292px;
        height: 221px;
        padding-bottom: 0;
    }

    .intro-text-block {
        padding-top: 90px;
    }

    .intro-title {
        font-size: 22px;
        max-width: 360px;
    }

    .scroll {
        font-size: 50px;
        height: 120px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }

    .scroll-img {
        width: 60px;
    }

    .leader {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: none;
    }

    .leader-desc {
        font-size: 20px;
        max-width: 480px;
    }

    .leader-list {
        margin-top: 20px;
        border-top: 2px solid #212121;
    }

    .leader-item {
        flex-wrap: wrap;
        border-bottom: 2px solid #212121;
        min-height: 50px;
        max-height: 50px;
    }

    .leader-item_open {
        max-height: 500px;
    }

    /* .leader-item:last-of-type {
        border-bottom: 2px solid #212121;
    } */

    .leader-item-block_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    /* .leader-item_open .leader-item-block_mobile {
        padding-top: 14px;
    } */

    .leader-item-icon {
        width: 30px;
        min-width: 30px;
        display: none;
    }

    .leader-item-icon_close {
        height: 30px;
        padding-top: 0;
    }

    .leader-item-icon_open {
        height: 30px;
        padding-top: 0;
    }

    .leader-item-icon_mobile {
        display: block;
    }

    .leader-item-name {
        font-size: 16px;
        line-height: 130%;
        padding-top: 0;
        display: none;
    }

    .leader-item-name_mobile {
        display: block;
    }

    .leader-item-date {
        display: none;
    }

    .leader-item-prod {
        min-width: auto;
        padding-top: 0px;
        opacity: 0;
    }

    .leader-item-prod-block {
        display: flex;
        max-width: 500px;
        align-items: center;
        justify-content: space-between;
    }

    .leader-item_open .leader-item-prod {
        opacity: 1;
    }

    .leader-item-prod-title {
        font-size: 16px;
        max-width: 162px;
        text-transform: uppercase;
    }

    .leader-item-prod-date {
        display: flex;
        justify-content: flex-end;
        padding-top: 0;
        font-size: 16px;
        line-height: 130%;
    }

    .leader-item_open .leader-item-prod-date {
        display: flex;
        opacity: 1;
    }

    .leader-item-prod-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        max-width: 355px;
    }

    .leader-item-prod-link {
        font-size: 14px;
        line-height: 90%;
        margin-top: 20px;
    }

    .leader-btn {
        display: block;
        width: 100%;
    }

    .leader-btn-front {
        margin-top: 40px;
        padding: 22px 0;
        width: 100%;
    }

    .about {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .about-title {
        font-size: 34px;
    }

    .about-content {
        margin-top: 20px;
        max-width: 355px;
    }

    .about-content-title {
        font-size: 20px;
    }

    .about-content-desc {
        font-size: 16px;
        max-width: none;
    }

    .about-video-content {
        height: 524px;
    }

    .service {
        background-image: url(../img/service/sr-bg.png);
        background-size: cover;
    }

    .service-item_open .service-item-front {
        padding-top: 25px;
        padding-left: 30px;
    }

    .service-item {
        min-height: 90px;
    }

    .service-item-front {
        padding-top: 25px;
        min-height: 90px;
        max-height: 90px;
    }

    .service-item-title {
        padding-bottom: 32px;
        padding-top: 10px;
        font-size: 20px;
    }

    .service-item-content {
        padding-bottom: 40px;
    }

    .service-item_list-item {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .service-item-icon {
        width: 49px;
        height: 49px;
    }

    .service-item-icon-front {
        width: 49px;
        height: 49px;
    }

    .case {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: url(../img/case/bg-sr.png);
        background-size: 80% 86%;
        background-position-y: top;
    }

    .case-title {
        font-size: 34px;
    }

    .case-row {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .case-row_mid {
        display: none;
    }

    .case-col {
        width: 100%;
        height: auto;
    }

    .case-block {
        width: 100%;
        height: 335px;
        margin-bottom: 10px;
    }

    .case-block-name {
        margin-top: 10px;
        margin-left: 10px;
    }

    .case-block-name-front {
        padding: 9px 19px 9px 20px;
        font-size: 16px
    }

    .case-block-play {
        opacity: 1;
    }

    .case-btn {
        display: block;
        width: 100%;
    }

    .case-btn-front {
        width: 100%;
        padding: 22px 0;
    }

    .work {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .work-title {
        padding-left: 10px;
        font-size: 34px;
    }

    .work-nav {
        margin-top: 30px;
    }

    .work-nav-link {
        font-size: 16px;
    }

    .work-nav-item {
        margin-right: 10px;
    }

    .work-nav-link_not {
        right: 0;
        top: -1px;
    }

    .work-nav-item_active .work-nav-link_not {
        width: 27px;
        height: 27px;
        right: -10px;
        top: -5px;
    }

    .work-nav-item_active .work-nav-link_not-front {
        font-size: 16px;
        width: 27px;
        height: 27px;
    }

    .work-list {
        margin-top: 10px;
    }

    .work-item-front {
        padding-top: 20px;
        padding-left: 20px;
        max-height: 92px;
        min-height: 92px;
        padding-right: 20px;
    }

    .work-item_open .work-item-front {
        padding-top: 20px;
        padding-left: 20px;
    }

    .work-item {
        min-height: 92px;
    }

    .work-item-title {
        font-size: 20px;
    }

    .work-item-icon {
        width: 49px;
        height: 49px;
    }

    .work-item-icon-front {
        width: 49px;
        height: 49px;
    }

    .work-item_open .work-item-desc {
        margin-top: 32px;
    }

    .work-item-desc-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .work-item-desc-block-title {
        font-size: 16px;
    }

    .work-item-desc-block-text {
        font-size: 14px;
        max-width: 440px;
    }

    .app {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 74px;
        padding-bottom: 95px;
        background-position-y: 850px;
        background-size: 370px;
    }

    .app-title {
        font-size: 50px;
        max-width: 335px;
    }

    .app-form-block {
        margin-top: 25px;
    }

    .app-form-block-front {
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }

    .app-form-desc {
        padding-left: 10px;
        font-size: 16px;
        max-width: 315px;
        margin-bottom: 10px;
    }

    .app-form-input {
        font-size: 14px;
        padding-left: 20px;
    }

    .app-form-input:invalid + .app-form-input-indc {
        right: 20px;
    }

    .app-form-textarea {
        padding: 20px;
        min-height: 140px;
        font-size: 14px;
    }

    /* .app-form-input-pod {
        right: 40px;
    } */

    .app-contact {
        margin-top: 300px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 100px;
        height: 340px;
    }

    .app-contact-content {
        background-size: 160px;
    }

    .app-contact-mail-front {
        font-size: 20px;
    }

    .app-contact-tel-front {
        font-size: 20px;
    }

    .app-contact-info {
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 16px;
        max-width: 295px;
    }

}

@media (max-width: 640px) {

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-logo {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 11px;
        line-height: 110%;
        letter-spacing: 0.03em;
    }

    .header-nav {
        display: none;
    }

    .header-nav_mobile {
        display: flex;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-tel {
        display: none;
    }

    .header-mobile-tel {
        font-family: 'Benzin-Regular';
        font-size: 16px;
        line-height: 130%;
        color: #212121;
        text-decoration: none;
        margin-right: 10px;
        white-space: nowrap;
    }

    .header-menu-btn {
        background-color: #212121;
        display: block;
        border-radius: 50%;
    }

    .header-menu-btn-front {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FFE146;
        border: 1px solid #212121;
        transform: translate(-1px, -1px);
        justify-content: center;
        align-items: center;
    }

    .header-menu-btn-front::after {
        content: '';
        background-image: url(../img/header/open.svg);
        background-size: 100% 100%;
        width: 14px;
        height: 10px;
        display: flex;
    }

    .header-menu-btn_close .header-menu-btn-front::after {
        content: '';
        background-image: url(../img/work/close.svg);
        background-size: 100% 100%;
        width: 14px;
        height: 10px;
        display: flex;
    }


    /* .header-menu-btn_close::after {
        
    } */

    .header-menu-btn-front:active {
        transform: translate(0, 0);
    }

    .header-menu {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background-color: #9746FF;
        background-image: url(../img/header/menu-bg.png);
        background-size: 100% 100%;
        height: 350px;
        transition: 1s;
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        padding-top: 70px;
        justify-content: space-between;
        z-index: 98;
    }

    .header-menu_hidden {
        opacity: 0;
        height: 0;
        position: absolute;
    }

    .header-menu-contact-link {
        font-family: 'Benzin-Regular';
        font-size: 14px;
        line-height: 90%;
        color: #212121;
        text-decoration: none;
        padding: 6px 10px;
        background: #FFFFFF;
        border: 1px solid #212121;
        border-radius: 49px;
        margin-bottom: 5px;
    }

    .main {
        padding-top: 76px;
    }
    
    .header-nav {
        flex-direction: column;
        padding-top: 20px;
        margin: 0;
        padding-bottom: 50px;
    }

    .header-nav-item {
        margin-bottom: 15px;
    }

    .header-nav-item-link {
        font-size: 18px;
        line-height: 90%;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-menu-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .intro {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        padding-bottom: 70px;
    }

    .intro-title {
        font-size: 22px;
        line-height: 110%;
        letter-spacing: 0.03em;
    }

    .intro-text-block {
        width: 100%;
        padding-top: 40px;
    }

    .intro-img {
        width: 100%;
        height: auto;
        padding-top: 0;
        margin-top: 30px;
    }

    .intro-btn {
        display: none;
    }

    .intro-btn_mobile {
        display: block;
        width: 100%;
    }

    .intro-btn-front {
        margin-top: 0;
        padding: 22px 0;
        width: 100%;
    }

    .scroll {
        font-size: 50px;
        line-height: 88%;
        padding-top: 42px;
        padding-bottom: 32px;
        align-items: self-end;
        border-top: 2px solid #212121;
        border-bottom: 2px solid #212121;
        height: auto;
    }

    .scroll-block {
        margin-left: 20px;
        margin-right: 20px;
    }

    .scroll-img {
        width: 60px;
    }

    .leader {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
        padding-bottom: 70px;
        background-image: none;
    }

    .leader-desc {
        font-size: 20px;
        line-height: 130%;
    }

    .leader-list {
        margin-top: 20px;
        border-top: 2px solid #212121;
    }

    .leader-item {
        flex-wrap: wrap;
        border-bottom: 2px solid #212121;
    }

    /* .leader-item:last-of-type {
        border-bottom: 2px solid #212121;
    } */

    .leader-item-block_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    /* .leader-item_open .leader-item-block_mobile {
        padding-top: 14px;
    } */

    .leader-item-icon {
        width: 30px;
        min-width: 30px;
        display: none;
    }

    .leader-item-icon_close {
        height: 30px;
        padding-top: 0;
    }

    .leader-item-icon_open {
        height: 30px;
        padding-top: 0;
    }

    .leader-item-icon_mobile {
        display: block;
    }

    .leader-item-name {
        font-size: 16px;
        line-height: 130%;
        padding-top: 0;
        display: none;
    }

    .leader-item-name_mobile {
        display: block;
    }

    .leader-item-date {
        display: none;
    }

    .leader-item-prod {
        min-width: auto;
        padding-top: 0px;
        opacity: 0;
        transition: 1s;
    }

    .leader-item-prod-block {
        align-items: center;
        justify-content: space-between;
    }

    .leader-item_open .leader-item-prod {
        opacity: 1;
        transition: 1s;
    }

    .leader-item-prod-title {
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
    }

    .leader-item-prod-date {
        display: flex;
        justify-content: flex-end;
        padding-top: 0;
        font-size: 16px;
        line-height: 130%;
        display: none;
    }

    .leader-item_open .leader-item-prod-date {
        display: none;
    }

    .leader-item-prod-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    .leader-item-prod-link {
        font-size: 14px;
        line-height: 90%;
        margin-top: 20px;
    }

    .leader-btn {
        display: block;
        width: 100%;
    }

    .leader-btn-front {
        margin-top: 40px;
        padding: 22px 0;
        width: 100%;
    }

    .about {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
        padding-bottom: 40px;
        flex-direction: column;
    }

    .about-title {
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0.03em;
        min-width: 0;
    }

    .about-content {
        width: 100%;
        max-width: none;
    }

    .about-content-title {
        font-size: 20px;
        line-height: 130%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .about-content-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }

    .about-video-content {
        border-radius: 30px 30px 0px 0px;
        height: 524px;
    }

    .service {
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 10px;
        padding-right: 10px;
        background-image: url(../img/service/mobile-bg.png);
        background-size: cover;
    }

    .service-title {
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0.03em;
    }

    .service-img {
        display: none;
    }

    .service-list {
        margin-top: 20px;
    }

    .service-item-block {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 90px;
        max-height: 90px;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }

    .service-item-title, .service-item-icon {
        display: none;
    }

    .service-item-title_mobile, .service-item-icon_mobile {
        display: flex;
        /* margin-top: 20px; */
    }

    .service-item {
        min-height: 0;
    }

    .service-item-content {
        padding-bottom: 0;
    }

    .service-item-front {
        padding-top: 0;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 20px;
        min-height: 0;
    }

    .service-item_open .service-item-front {
        padding-top: 0;
        padding-left: 14px;
        padding-bottom: 40px;
    }

    .service-item-icon {
        width: 49px;
        height: 49px;
    }

    .service-item-icon-front {
        width: 49px;
        height: 49px;
    }

    .service-item-title {
        font-size: 20px;
        line-height: 130%;
        padding: 0;
    }

    .service-item_list {
        min-width: 0;
        margin-top: 0;
    }

    .service-item_list-item {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 10px;
    }

    .case {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .case-title {
        font-size: 34px;
        line-height: 100%;
    }

    .case-row {
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }

    .case-col {
        width: 100%;
        height: auto;
    }

    .case-col:first-of-type {
        margin-right: 0;
    }

    .case-block {
        height: 355px;
        margin-bottom: 10px;
    }

    .case-block_full {
        height: 355px;
    }

    .case-block-name {
        margin-left: 10px;
        margin-top: 10px;
    }

    .case-block-name-front {
        padding: 9px 19px 8px 20px;
        font-size: 16px;
        line-height: 130%;
        margin-top: 0;
    }

    .case-block-play_mobile {
        opacity: 1;
    }

    .case {
        background-image: url(../img/case/bg-mobile.png);
        background-size: 100% 90%;
        background-position-y: top;
    }

    .case-btn {
        display: block;
        width: 100%;
    }

    .case-btn-front {
        width: 100%;
        padding: 22px 0;
    }

    .case-video {
        background-color: transparent;
        background-image: none;
    }

    .case-video-content {
        padding-left: 0;
        padding-right: 0;
        height: 500px;
    }

    .video-player {
        height: 100%;
    }

    video {
        height: 100%;
    }

    .case-carousel_next {
        display: none;
    }

    .controls {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        bottom: 0;
    }

    .controls-high {
        margin-bottom: 0;
    }

    .control-button.play-button {
        width: 30px;
        height: 25px;
    }

    .control-button svg {
        width: 25px;
        height: 25px;
    }

    .case-video-close {
        width: 39px;
        height: 39px;
        right: 10px;
        top: 10px;
    }

    .case-video-close-front {
        width: 39px;
        height: 39px;
    }

    .case-video-close-front::after {
        width: 14px;
        height: 14px;
    }

    .play-pause {
        width: 36px;
        height: 61px;
    }

    .work {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 10px;
        padding-right: 10px;
        background-image: none;
    }

    .work-title {
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0.03em;
    }

    
    

    .work-nav {
        overflow-x: scroll;
        margin-top: 0;
        width: 600px;
        padding-top: 20px;
        -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .work-nav-item {
        margin-right: 10px;
    }

    .work-nav-link {
        font-size: 16px;
        line-height: 130%;
        width: max-content;
    }

    .work-nav-item_active {
        padding-bottom: 20px;
    }

    .work-nav-item_active .work-nav-link_not-front {
        width: 27px;
        height: 27px;
        font-size: 16px;
        line-height: 130%;
    }

    .work-nav-item_active .work-nav-link_front {
        padding: 13px 20px;
    }

    .work-nav-item_active .work-nav-link_not {
        width: 27px;
        height: 27px;
        right: 0px;
        top: -10px;
    }


    .work-item {
        min-height: 0;
        margin-bottom: 10px;
    }

    .work-item-content {
        padding-bottom: 0;
        flex-wrap: nowrap;
    }

    .work-item-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 90px;
        max-height: 90px;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .work-item-front {
        min-height: 0;
        padding-top: 0;
        padding-left: 20px;
        padding-bottom: 32px;
        padding-right: 19px;
    }

    .work-item_open .work-item-front {
        padding-top: 0;
        padding-bottom: 60px;
    }

    .work-item_open .work-item-desc {
        margin-top: 0;
    }

    .work-item-title {
        font-size: 20px;
        line-height: 130%;
        display: flex;
        align-items: center;
        height: 49px;
    }

    .work-item-icon {
        width: 49px;
        height: 49px;
        display: none;
    }

    .work-item-icon_mobile {
        display: flex;
    }

    .work-item-icon-front {
        width: 49px;
        height: 49px;
    }

    .work-item-desc-title {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    .work-item-desc-block-title {
        font-size: 16px;
        line-height: 130%;
    }

    .work-item-desc-block-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    .work-item-desc-block-btn {
        width: 100%;
    }

    .work-item-desc-block-btn-front {
        margin-top: 40px;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }

    .work-pop {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: none;
        padding: 0;
        height: 100vh;
    }

    .work-pop-content {
        overflow-y: scroll;
        padding: 50px 18px;
        min-width: 0;
    }

    .work-pop-title {
        font-size: 22px;
        line-height: 110%;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    .work-pop-desc {
        font-size: 16px;
        line-height: 130%;
    }

    .work-pop-form {
        margin-top: 0;
    }

    .work-pop-form-block {
        flex-direction: column;
        margin-bottom: 0;
    }

    .work-pop-close {
        width: 39px;
        height: 39px;
        right: 10px;
        top: 10px;
    }

    .work-pop-close-front {
        width: 39px;
        height: 39px;
    }

    .work-pop-close-front::after {
        width: 14px;
        height: 14px;
    }

    .work-form-input {
        height: 53px;
        padding-left: 20px;
        font-size: 14px;
        line-height: 90%;
    }
    
    .work-form-input-back {
        margin-top: 10px;
    }

    .work-form-input-block {
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .work-form-textarea {
        padding-left: 20px;
        font-size: 14px;
        line-height: 90%;
        padding-top: 20px;
        min-height: 148px;
    }

    .work-pop-img {
        display: none;
    }

    .app {
        padding-top: 74px;
        padding-bottom: 74px;
        padding-left: 10px;
        padding-right: 10px;
        background-size: 285px;
        background-position-y: 900px;
    }

    .app-content {
        flex-direction: column;
    }

    .app-title {
        font-size: 50px;
        line-height: 88%;
    }

    .app-form-block {
        margin-bottom: 0;
    }

    .app-form-block-front {
        font-size: 16px;
        line-height: 130%;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .app-form-desc {
        font-size: 16px;
        line-height: 130%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .app-form-input {
        font-size: 14px;
        line-height: 90%;
    }

    .app-form-textarea {
        font-size: 14px;
        line-height: 90%;
    }

    .app-contact {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        padding-top: 70px;
        margin-top: 288px;
        height: auto;
        background-image: url(../img/app/folder-bg_mobile.png);
    }

    .app-contact-row {
        flex-direction: column;
    }

    .app-contact-mail {
        margin-bottom: 10px;
    }

    .app-contact-content {
        background-image: none;
    }

    .app-contact-mail-front {
        font-size: 20px;
        line-height: 130%;
        padding-top: 31px;
        padding-bottom: 31px;
    }

    .app-contact-tel-front {
        font-size: 20px;
        line-height: 130%;
        padding-top: 31px;
        padding-bottom: 31px;
    }

    .app-contact-info {
        font-size: 16px;
        line-height: 130%;
        margin: 20px;
    }

    .app-pop {
        left: 10px;
        right: 10px;
        padding-top: 70px;
        padding-left: 22px;
        width: auto;
    }

    .app-pop-title {
        font-size: 22px;
        line-height: 110%;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    .app-pop-desc {
        font-size: 16px;
        line-height: 130%;
    }

    .app-pop-close {
        width: 39px;
        height: 39px;
        right: 10px;
        top: 10px;
    }

    .app-pop-close-front {
        width: 39px;
        height: 39px;
    }

    .app-pop-close-front::after {
        width: 14px;
        height: 14px;
    }

    .footer {
        padding-left: 10px;
        padding-right: 10px;
        align-items: baseline;
        padding-bottom: 10px;
    }

    .footer-contact {
        display: none;
    }

}